<h1>Trips List</h1>

<ul>
   <% @trips.each do |trip| %>
      <li>
        <h2>Passenger ID: <%= trip.passenger_id %></h2>
        <%= link_to trip.date, trip_path(trip.id)  %>
      </li>
    <% end %>
</ul>