<h2>Welcome to the Rails Rideshare Website!</h2>

<ul>
  <li><%= link_to "Driver Sign-Up", new_driver_path %></li>
  <li><%= link_to "Passenger Sign-Up", new_passenger_path %></li>
  <li><%= link_to "See all Drivers", drivers_path %></li>
  <li><%= link_to "See all Passengers", passengers_path %></li>
</ul>