<h2>Passenger Info:</h2>

<h2><%= @passenger.name %></h2>
<h3><%= @passenger.phone_num %></h3>

<%= link_to "See all Trips for #{@passenger.name}",  passenger_trips_path(@passenger.id)%>

<%= link_to "Edit Passenger", edit_passenger_path %>